<div class="wrapper">
	<!--=== Content Part ===-->
	<div class="login-screen-main">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-6 style-float-left">
                    <div class="left-img-panel-main">
                        <div class="col-lg-12 text">Accelerate Customer value with Redington Cloud on your side</div>
                        <div class="col-lg-12"><img src="../../../assets/Login-001/images/login_left_img.png" alt=""></div>
                    </div>
                </div>
                <div class="col-lg-6 style-float-left">
                    <div class="login-main-box">
                        <!--Redington Logo-->
                        <div class="re-logo">
                                <img src="../../../assets/Login-001/images/logo_new_design.png" alt="">
                        </div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>  
        </div>      
	</div>
	<!--=== End Content Part ===-->
</div>
