<!--User password reset Form-->
<div class="login_form_selection">
<div *ngIf="token">
	<h2 class="margin-bottom-30">Enter New Password</h2>
	<form *ngIf="passwordResetForm" [formGroup]="passwordResetForm" (submit)="resetPassword()">
		<div formGroupName="passwords" class="">
			<div class="input-group margin-top-20">
				<span class="input-group-addon rounded-left"><i class="icon-lock"></i></span>
				<input type="password" formControlName="password" class="form-control rounded-right" placeholder="Please enter password">
			</div>
			<control-messages [control]="passwordResetForm.controls.passwords.controls.password"></control-messages>

			<div class="input-group margin-top-20">
				<span class="input-group-addon rounded-left"><i class="icon-lock"></i></span>
				<input type="password" formControlName="confirm_password" class="form-control rounded-right" placeholder="Please confirm password">
			</div>
			<control-messages [control]="passwordResetForm.controls.passwords.controls.confirm_password"></control-messages>
			<control-messages [control]="passwordResetForm.controls.passwords"></control-messages>

			<div class="login-error">
                <div *ngIf="!resetError">&ensp;</div>
				<div *ngIf="resetError" class="form-error">Failed to reset password. Please try again.</div>
			</div>

			<div class="row margin-bottom-20" style="margin-top: -16px;">
				<div class="col-md-12">
					<button type="submit" [disabled]="!passwordResetForm.valid || process == 'reset_processing'" class="btn sign_in btn-xs mb-xs" style="width: 100%; padding: 6px;">
                    <span *ngIf="process != 'reset_processing'"> Reset password &nbsp;</span>
                        <span *ngIf="process == 'reset_processing'">
                            Resetting password &ensp;
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                </button>
				</div>
			</div>

			<div class="text-left">
				<p><a class="btn btn-primary btn-xs mb-xs login_here" [routerLink]="['/auth/login']">Login here</a></p>
			</div>
		</div>
	</form>
</div>
</div>

<!--Display messages-->
<div *ngIf="!token" class="login_form_selection-display-block">
	<h6 *ngIf="process == 'verification_processing'" class="text-info padding-top-50">
		<i class="fa fa-spinner fa-spin"></i> &nbsp;Verification in process.
	</h6>

	<!--Link verfication error message-->
	<h6 *ngIf="process =='verification_failed'" class="text-warning padding-top-50">
		<i class="fa fa-exclamation-circle"></i>&nbsp;{{ verificationError }}
		<br>
		<a [routerLink]="['/auth/password/reset']" class="padding-left-20">Get new reset link.</a>
	</h6>

	<!--Password reset success message-->
	<h6 *ngIf="process == 'reset_success'" class="text-info padding-top-50">
		<i class="fa fa-check-circle"></i> &nbsp;Password changed successfully. Login with new credentials
		<a [routerLink]="['/auth/login']">here</a>.
	</h6>
</div>
