{% extends "base_email.html" %}

{% block title %}
    {{ subject }}
{% endblock %}

{% block content %}
    {% if receiver == 'Business team' %}
        <p>Hello,</p>
    {% else %}
        <p>Dear <strong>{{ receiver }}</strong>!</p>
    {% endif %}

    The below instance has been added in {{ instance.product.vendor_details.vendor_name }} cloud portal.

    <p><strong>Instance details</strong></p>

    <table style="border-collapse: separate; border-spacing: 50px 0;">
        {% if receiver == 'Business team' %}
            <tr>
                <td style="padding: 10px 0;">Partner</td>
                <td style="padding: 10px 0;">{{ instance.customer.partner.company_name }}</td>
            </tr>
        {% endif %}
        <tr>
            <td style="padding: 10px 0;">Customer</td>
            <td style="padding: 10px 0;">{{ instance.customer.company_name }}</td>
        </tr>
        <tr>
            <td style="padding: 10px 0;">Cloud</td>
            <td style="padding: 10px 0;">{{ instance.product.vendor_details.vendor_name }}</td>
        </tr>
        <tr>
            <td style="padding: 10px 0;">Instance</td>
            <td style="padding: 10px 0;">{{ instance.name }}</td>
        </tr>
        <tr>
            <td style="padding: 10px 0;">Status</td>
            <td style="padding: 10px 0;">{{ instance.state }}</td>
        </tr>
        <tr>
            <td style="padding: 10px 0;">Region</td>
            <td style="padding: 10px 0;">{{ instance.region }}</td>
        </tr>
    </table>
{% endblock %}