<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
{% block content %}
    <p>Dear {{ title }},</p>

    <p>New Payment Done by {{ IsvName }}  in www.redingtoncloud.com, The Payment Details has been given below. </p>


    <table width="800" border="0" cellspacing="0" cellpadding="0" align="center" style="font:13px Verdana, Arial, Helvetica, sans-serif; color:#333333;">
    <tr>
        <td align="left" valign="top">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <td>
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="font:13px Verdana, Arial, Helvetica, sans-serif; color:#333333;">
                        <tr style="margin-bottom: 12px; float: left; width: 100%;">
                            <td valign="top" bgcolor="#edfaf1" style="padding: 0px 18px; width: 95.6%; float: left;">
                                <table width="100%" border="0" cellspacing="0" cellpadding="2">
                                    <tr>
                                        <td height="30" colspan="2" align="left" valign="middle" style="font-size: 16px; font-weight: 600; border-bottom:1px solid #d0dbd5;">Payment Information</td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="30" valign="middle">ISV Name</td>
                                        <td align="left" valign="middle">{{ IsvName }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="30" valign="middle">ISV Code</td>
                                        <td align="left" valign="middle">{{ IsvJbaCode }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="30" valign="middle">Invoice No</td>
                                        <td  align="left" valign="middle">{{ InvoiceNo }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="30" valign="middle">Reference number</td>
                                        <td  align="left" valign="middle">{{ ReferenceNumber }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="30" valign="middle">Payment ID</td>
                                        <td  align="left" valign="middle">{{ PaymentID }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="30" valign="middle">Transaction ID</td>
                                        <td  align="left" valign="middle">{{ TransactionID }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="30" valign="middle">Amount</td>
                                        <td  align="left" valign="middle">{{ Amount }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="30" valign="middle">Transaction Date</td>
                                        <td  align="left" valign="middle">{{ TransactionDate }}</td>
                                    </tr>
                                    <tr>
                                        <td align="left" height="30" valign="middle">Transaction Status</td>
                                        <td  align="left" valign="middle">{{ TransactionStatus }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </table>
    </td>
</tr>
</table>
    </body>
</html>

{% endblock %}
