<!--User details verification Form-->
<div class="login_form_selection">
<div *ngIf="process != 'link_emailed'">
	<p class="margin-bottom-30" style="text-align: center; margin: 0px;">Please Enter your Username and Email Address to reset password</p>
	<form *ngIf="verificationForm" [formGroup]="verificationForm" (submit)="generateResetLink()">
		<div class="">
			<div class="input-group margin-top-20">
				<span class="input-group-addon rounded-left"><i class="icon-user"></i></span>
				<input type="text" formControlName="username" class="form-control rounded-right" placeholder="Please enter username">
			</div>
			<control-messages [control]="verificationForm.controls.username"></control-messages>

			<div class="input-group margin-top-20">
				<span class="input-group-addon rounded-left"><i class="icon-envelope"></i></span>
				<input type="email" formControlName="email" class="form-control rounded-right" placeholder="Please enter Email">
			</div>
			<control-messages [control]="verificationForm.controls.email"></control-messages>

			<div class="login-error">
                <div *ngIf="!verificationError">&ensp;</div>
				<div *ngIf="verificationError" class="form-error">{{ verificationError['msg'] }}</div>
			</div>

			<div class="row margin-bottom-20" style="margin-top: -16px;">
				<div class="col-md-12">
					<button type="submit" [disabled]="!verificationForm.valid || process == 'checking'" class="btn sign_in btn-xs mb-xs">
                    <span *ngIf="process != 'checking'">Reset Password</span>
                        <span *ngIf="process == 'checking'">
                            Processing
                        <i class="fa fa-spinner fa-spin"></i>
                    </span>
                </button>
				</div>
			</div>

			<div class="text-left">
				<p><a class="btn btn-primary btn-xs mb-xs login_here" style="color:#FFFFFF; text-decoration:none; padding: 2px 10px;" [routerLink]="['/auth/login']">Login here</a></p>
			</div>
		</div>
	</form>
</div>
</div>

<!--Success message-->
<div *ngIf="process == 'link_emailed'" class="login_form_selection-display-block">
	<h6 class="padding-top-50">
		<i class="fa fa-check-circle"></i>&nbsp;Link to reset password has been sent to {{ verificationSuccess['email'] }}.
	</h6>
</div>
